# THIS IS A TEMPLATE FILE
# THESE ARE NOT THE REAL CREDENTIALS WE'LL USE TO RUN THE PROJECT

# PUBLISHING THIS FILE HAS NOTHING TO DO WITH A SECURITY GAP, AS IT'S A EXAMPLE
# OF HOW CREDENTIALS ARE SET.

DOMAIN_NAME=uxmancis.42.fr

SQL_DATABASE=wordpress
SQL_USER=uxmancis
SQL_PASSWORD= # Introduce here SQL_PASSWORD
SQL_ROOT_PASSWORD= # Introduce here SQL_ROOT_PASSWORD

WP_ADMIN_USER=uxu42
WP_ADMIN_PASSWORD= # Introduce here WP_ADMIN_PASSWORD
WP_ADMIN_EMAIL=admin@test.com

WP_USER=user42
WP_USER_PASSWORD= # Introduce here WP_USER_PASSWORD
WP_USER_EMAIL=user@test.com