# THIS IS A TEMPLATE FILE
# ONCE YOU'VE CREATED .env FILE, UNCOMMENT AND DEFINE THE FOLLOWING PASSWORDS:
#   - SQL_PASSWORD
#   - SQL_ROOT_PASSWORD
#   - WP_ADMIN_PASSWORD
#   - WP_USER_PASSWORD
#
# PUBLISHING THIS FILE HAS NOTHING TO DO WITH A SECURITY GAP, AS IT'S A EXAMPLE
# OF HOW CREDENTIALS ARE SET.

DOMAIN_NAME=uxmancis.42.fr

SQL_DATABASE=wordpress
SQL_USER=uxmancis
#SQL_PASSWORD= 
#SQL_ROOT_PASSWORD=

WP_ADMIN_USER=uxu42
#WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=uxu42@test.com

WP_USER=user42
#WP_USER_PASSWORD=
WP_USER_EMAIL=user@test.com